<!-- Link Gitalk 的支持文件  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script> 
<script type="text/javascript" src="/js/md5.min.js"></script>
<div id="gitalk-container"></div>     
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '4f98ac3b0a4551871efe',
        clientSecret: '895fc12302f71ee25d047cce5cb40d1a9a30b0df',
        repo: 'https://xgsteins.fun',
        owner: 'xgsteins',
        admin: ['xgsteins'],
        id: md5(location.pathname),      // Ensure uniqueness and length less than 50
        distractionFreeMode: false  // Facebook-like distraction free mode
    });
    gitalk.render('gitalk-container');
</script> 
<!-- Gitalk end -->
