<!DOCTYPE html>
<head>
  <script type="text/javascript" async src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
</head>
<html lang='en'>

{% include head.html %}

<body>

  {% include analytics.html %}

  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </div>

  <script src="{{ '/js/jquery-3.1.1.min.js' | prepend: site.baseurl }}"> </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">   </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">              </script>
</body>

</html>